body{
     background: #252525!important;
  color: #e8e8e8!important;
}

.notebook-horizontal{
      background: #252525!important;
  color: #e8e8e8!important;
}

.notebook-vertical{
      background: #252525!important;
  color: #e8e8e8!important;
}
.resizer-contents{
   background: #252525!important;
  color: #e8e8e8!important;   
}
.notebook-content{
  background: #252525!important;
  color: #e8e8e8!important;
}

.notebook-cell-list{
     background: #252525!important;
	  color: #e8e8e8!important;
}

.cell{
     background: #252525!important;
	  color: #e8e8e8!important;
}

.toc-cell{
      background: #252525!important;
  color: #e8e8e8!important;
}
.toc-section{
      background: #252525!important;
  color: #e8e8e8!important;
}
.CodeMirror{
      background: #252525!important;
  color: #e8e8e8!important;
}

.editor-container{
      background: #252525!important;
  color: #e8e8e8!important;
}

.editor{
      background: #252525!important;
  color: #e8e8e8!important;
}

.markdown-toolbar{
      background: #252525!important;
  color: #e8e8e8!important;
}

.notebook-content-background{
      background: #252525!important;
  color: #e8e8e8!important;
}

.text-top-div{
      background: #252525!important;
  color: #e8e8e8!important;
}

.markdown{
      background: #252525!important;
  color: #e8e8e8!important;
}

.section-header-container{
      background: #252525!important;
  color: #e8e8e8!important;
}

.horizontal{
      background: #252525!important;
  color: #e8e8e8!important;
} 

.layout{
      background: #252525!important;
  color: #e8e8e8!important;
}

.document-info{
      background: #252525!important;
  color: #e8e8e8!important;
}

.header-doc-toolbar{
      background: #252525!important;
  color: #e8e8e8!important;
}

.goog-menubar{
      background: #252525!important;
  color: #e8e8e8!important;
}

.doc-name{
      background: #252525!important;
  color: #e8e8e8!important;
}

.format-lightborder{
      background: #252525!important;
  color: #e8e8e8!important;
}

.goog-menu-button{
      background: #252525!important;
  color: #e8e8e8!important;
}

.goog-inline-block{
      background: #252525!important;
  color: #e8e8e8!important;
}

.text-cell-section-header{
      background: #252525!important;
  color: #e8e8e8!important;
}


